[submodule "Sources/OS_Core/HWSupport/NVRAM"]
	path = Sources/OS_Core/HWSupport/NVRAM
	url = https://github.com/philpem/RO371_BushIBX_NVRAM.git
[submodule "Sources/OS_Core/HWSupport/PortMan"]
	path = Sources/OS_Core/HWSupport/PortMan
	url = https://github.com/philpem/RO371_BushIBX_PortMan.git
[submodule "!Perl"]
	path = !Perl
	url = https://gitlab.riscosopen.org/RiscOS/Apps/PlingPerl.git
